.note-editable{
    background-color: #fff;
}
.nav-tabs{
    border-bottom:none!important;
}
.tab-content{
    background: #ffffff;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
   
}

p>br{display:none;}