// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
@import "pages";
@import "overrides";
// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
#datatable {
    &.Sirala {
        tbody {
            tr {
                td {
                    &:first-child {
                        position: relative;
                        padding-left: 35px;
                        &:before {
                            content: "\f0c9";
                            position: absolute;
                            left: 0;                          
                            cursor: move;
                            font: normal normal normal 14px/1 FontAwesome;
                            top:23px;
                            padding-left: 15px;
                            color:$color-success;
                        }
                    }
                }
            }
        }
    }
    .btn {
        margin: 5px !important;
    }
}

.dataTables_wrapper {
    .dataTables_info,
    .dataTables_paginate {
        padding: 0!important;
        margin-top: 5px!important;
    }
}

.dataTables_length {
    float: left;
    @media (max-width: 768px) {
        float: none;
    }
    select {
        padding-top: 0 !important;
    }
}

.pagelist {
    float: left;
    opacity: 1;
    transition: all .5s ease;
    background: #fff;
    min-height: 500px;
    overflow: hidden;
    &-header {
        .addPage {
            font-size: 15px;
            i {
                margin-top: 10px;
                margin-right: 10px;
            }
        }
        .title {
            white-space: nowrap;
        }
    }
    &.active {
        margin-left: -10%;
        opacity: 1;
        transition: all .5s ease;
        &:before {
            box-shadow: 2px 0 4px rgba(0, 0, 0, .2);
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 3px;
            z-index: 100;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            padding: 0;
            .link {
                font-size: 16px;
                text-decoration: none;
                white-space: nowrap;
                color: $color-success;
                cursor: pointer;
                &.selected {
                    color: $color-success;
                }
                i {
                    margin-right: 10px;
                    &.published {
                        color: $color-success;
                        &:before {
                            content: "\f00c";
                        }
                    }
                    &.draft {
                        color: $color-warning;
                        &:before {
                            content: "\f251";
                        }
                    }
                }
            }
            i {
                margin-left: 5px;
            }
        }
    }
    .nopage {
        padding: 20px;
        font-size: 10px;
    }
    @media (max-width: 480px) {
        min-height: auto;
        margin-bottom: 20px;
        &.active {
            margin-top: -4%;
            margin-left: 0;
            &:before {
                box-shadow: none;
            }
        }
    }
}

.jumbotron {
    margin: 0;
    margin-bottom: 15px;
    .page-title {
        margin-top: 10px;
    }
}

.new-append-button{
    position:absolute;
    right:15px;
    top:8px;
    z-index: 2;
    @media (max-width: 480px) {
        span{
            display:none;
        }
    }
}
.swal-icon--success{
    border-color:$color-success;
    &__ring{
        border:4px solid rgba($color-success,.2);
    }
    &__line{
        background-color:$color-success;
    }
}
.swal-button--confirm{
    background:$color-success;
}